.m-my{
  width:100%;
  height:100%;
  @include flexbox();
  @include flex-direction(column);
  header{
    @include flexbox();
    width:100%;
    height:.44rem;
    background:#e74737;
    font-size:16px;
    color:#fff;
    font-weight:700;
    .empty{
      @include flex(3);
    }
    .tit{
      @include flex(6);
      text-align:center;
      line-height:.44rem;
    }
    .shez{
      @include flex(3);
      text-align:right;
      line-height:.44rem;
      padding-right:.1rem;
      box-sizing:box;
    }
  }
  section{
    @include flex(1);
    width:100%;
    .content{
      width:100%;
    }
    .indent,.coupon,.address{
      width:100%;
      background:#fff;
      margin-top:.14rem;

    }
    .indent{
      height:.57rem;
      @include flexbox();
      border-bottom:1px solid #e1e1e1;
      .indentImg,.indentSj{
        @include flex(1);
        line-height:.57rem;
        text-align:center;
        color:#aaaaaa;
        font-size:.35rem;
      }
      .indentText{
        @include flex(6);
        line-height:.57rem;
        font-size:.21rem;
      }
    }
    .coupon{
      height:1.14rem;
      ul{
        height:.57rem;
        li{
          border-bottom:1px solid #e1e1e1;
          @include flexbox();
          .couImg,.couSj{
            @include flex(1);
            line-height:.57rem;
            text-align:center;
            color:#aaaaaa;
            font-size:.35rem;
          }
          .couText{
            @include flex(6);
            line-height:.57rem;
            font-size:.21rem;
          }
        }
      }
    }
  }
}
